//Gilgon
@font-face {
  font-family: Gilgon;
  src: url('../../static/fonts/GILGON__.ttf');
}

//Calibre
@font-face {
  font-family: 'Calibre-Light';
  src: url('../../static/fonts/calibre/Calibre-Light.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Calibre-Regular';
  src: url('../../static/fonts/calibre/Calibre-Regular.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Calibre-Medium';
  src: url('../../static/fonts/calibre/Calibre-Medium.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

//Poppins
@font-face {
  font-family: 'Poppins-Thin';
  src: url('../../static/fonts/poppins/Poppins-Thin.woff2') format('woff2'),
  url('../../static/fonts/poppins/Poppins-Thin.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../../static/fonts/poppins/Poppins-Regular.woff2') format('woff2'),
  url('../../static/fonts/poppins/Poppins-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('../../static/fonts/poppins/Poppins-Medium.woff2') format('woff2'),
  url('../../static/fonts/poppins/Poppins-Medium.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins-Semi-Bold';
  src: url('../../static/fonts/poppins/Poppins-SemiBold.woff2') format('woff2'),
  url('../../static/fonts/poppins/Poppins-SemiBold.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../../static/fonts/poppins/poppins-bold.woff2') format('woff2'),
  url('../../static/fonts/poppins/poppins-bold.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}
