@import './variables';
#app {
  .main-container {
    min-height: 100%;
    transition: all .3s linear;
    margin-left: 180px;
    position: relative;
    padding: 20px;
    background: #f5f7fb;
  }
  .sidebar-container {
    transition: width 0.3s linear;
    width: 180px !important;
    height: 100%;
    position: absolute;
    font-size: 0px;
    top: $heightTopBar;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    //reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }
    .scrollbar-wrapper {
      overflow-x: hidden!important;
      .el-scrollbar__view {
        height: 100%;
      }
    }
    .el-scrollbar__bar.is-vertical{
      right: 0;
    }
    .is-horizontal {
      display: none;
    }
    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }
    .svg-icon {
      margin-right: 16px;
    }
    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      border-right: 1px solid #e7e7e8;
    }

    .svg-icon[data-v-c8a70580] {
      width: 20px;
      height: 20px;
      vertical-align: middle;
    }
  }
  .hideSidebar {
    .sidebar-container {
      width: 50px !important;
    }
    .main-container {
      margin-left: 50px;
    }
    .submenu-title-noDropdown {
      //padding-left: 10px !important;
      padding: 0 20px !important;
      position: relative;
      .el-tooltip {
        //padding: 0 10px !important;
        padding: 0 !important;
        position: relative!important;
      }
    }
    .el-submenu {
      overflow: hidden;
      &>.el-submenu__title {
        //padding: 0 10px !important;
        position: static!important;
        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }
    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }
  .el-menu-item.is-active .el-submenu, .el-menu-item.is-active{
    background: rgba(228, 62, 71, 0.07) !important;
    border-right: 2px solid rgb(228, 62, 71);
    .svg-icon{
      color: rgb(228, 62, 71) !important;
    }
  }
  .el-menu-item:focus, .el-submenu__title:hover, .el-menu-item:hover{
    background-color: rgba(228, 62, 71, 0.07) !important;
  }
  .sidebar-container .nest-menu .el-submenu>.el-submenu__title,
  .sidebar-container .el-submenu .el-menu-item {
    min-width: 180px !important;
    &:hover {
      background-color: rgba(228, 62, 71, 0.07) !important;
    }
  }
  .el-menu--collapse .el-menu .el-submenu {
    min-width: 180px !important;
  }

  .mobile {
    .main-container {
      margin-left: 0px;
    }
    .sidebar-container {
      transition: transform .5s;
      width: 180px !important;
    }
    &.hideSidebar {
      .sidebar-container {
        transition-duration: 0.3s;
        transform: translate3d(-180px, 0, 0);
      }
    }
  }
  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}
