$main-corp-color: #ed3e44;
$secondary-corp-color: #1973cd;

$color-w: #fff;

$font-color: #232323;
$font-color-2: #ed3e44;
$font-hover: #fff;
$blog-bg: #f6f6f9;

$border-color: #e0e0e0;

$default-font-size: 16px;

//Calibre
$main-ff-light:   'Calibre-Light', sans-serif;
$main-ff-regular: 'Calibre-Regular', sans-serif;
$main-ff-medium:  'Calibre-Medium', sans-serif;

//Poppins
$title-ff-thin:      'Poppins-Thin', sans-serif;
$title-ff-regular:   'Poppins-Regular', sans-serif;
$title-ff-medium:    'Poppins-Medium', sans-serif;
$title-ff-semi-bold: 'Poppins-Semi-Bold', sans-serif;
$title-ff-bold:      'Poppins-Bold', sans-serif;

//font-size
$font-btn: 24px;

$font-s: 20px;
$font-m: 25px;
$font-l: 30px;
$font-xl: 36px;

$default-breakpoints-four-inch: 320px;
$default-breakpoints-five-inch: 375px;
$default-breakpoints-xs: 420px;
$default-breakpoints-sm: 576px;
$default-breakpoints-md: 767px;
$default-breakpoints-lg: 991px;
$default-breakpoints-xl: 1199px;
$default-breakpoints-xxl: 1800px;

$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;
